:root {
  --darkPurple: #4c5fd5;
  --lightPurple: #dadbf1;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
#heading {
  background-color: black;
  min-height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo-wrapper {
  font-size: 2.4rem;
  margin-left: 10rem;
  color: white;
  margin-bottom: 20px;
}
#icon {
  display: inline-block;
}
i {
  margin: 10px 5px 0 0;
  font-size: 40px;
  position: relative;
  top: 10px;
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
#abstract-link {
  font-weight: 800;
}
#abstract-link:hover {
  color: rgb(230, 230, 230);
}
#divider {
  font-size: 2.9rem;
}
#help-center:hover {
  text-decoration: underline;
}
nav {
  display: flex;
  justify-content: flex-end;
  margin-right: 10rem;
}
.input {
  border-radius: 10px;
  margin-right: 10px;
  font-size: 2.4rem;
  cursor: pointer;
}
#request {
  max-width: 24rem;
  min-height: 4rem;
  border: 1px solid white;
  background-color: rgb(42, 42, 42);
  color: white;
}
button {
  padding: 10px 25px;
  background-color: #4c5fd5;
  color: white;
  transition: all 0.15s linear;
}
button[id="sign-in"]:hover {
  background-color: white;
  color: black;
}
#help {
  background-color: var(--lightPurple);
  min-height: 40vh;
  display: table;
  text-align: center;
  width: 100%;
}
#search {
  display: table-cell;
  vertical-align: middle;
  position: relative;
}
label {
  font-size: 8rem;
  display: block;
  margin-bottom: 25px;
}
#how-can-we-help {
  border: 2px black solid;
  border-radius: 5px;
  min-width: 72rem;
  font-size: 2rem;
  padding: 1.8rem 1rem;
}
::placeholder {
  font-size: 2rem;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
.bx-right-arrow-alt {
  position: relative;
  top: 12.5px;
  right: 50px;
  color: black;
  font-size: 4rem;
}
#options {
  margin-top: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 20px;
}
.category-list-item {
  max-width: 38%;
  min-width: 38%;
  min-height: 250px;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-size: 2rem;
  letter-spacing: 1.5px;
  margin-bottom: 2rem;
}
.category-list-item:nth-last-of-type(2),
.category-list-item:nth-last-of-type(4),
.category-list-item:nth-last-of-type(6) {
  margin-left: 11%;
}
.category-list-item:nth-last-of-type(1),
.category-list-item:nth-last-of-type(3),
.category-list-item:nth-last-of-type(5) {
  margin-right: 11%;
}
.list-item h2,
.list-item p {
  padding-bottom: 1.5rem;
  line-height: 1.3;
  font-family: "Raleway", sans-serif;
}
.list-item h2 {
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}
.list-link {
  color: var(--darkPurple);
}
ul {
  list-style: none;
}
footer a {
  text-decoration: none;
  color: #eee;
}
a:hover {
  text-decoration: underline;
}
.container {
  flex: 1;
  padding: 0 30px 10px;
  background-color: black;
}
footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  line-height: 1.5;
  margin: 1rem 3rem;
  font-family: "Raleway", sans-serif;
}
.ft-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem 3rem 15rem;
  min-width: 75%;
  font-size: 1.6rem;
}
.ft-main-item {
  min-width: 20rem;
}
.ft-main-item > h2 {
  margin: 2rem 0 1rem;
}
.ft-main-item > h3 {
  margin-top: 3rem;
  font-size: 1.7rem;
}
.ft-credentials {
  margin-top: 16rem;
  font-size: 1.8rem;
  padding-left: 12rem;
}
.ft-credentials i {
  margin-bottom: 3rem;
}
.ft-credentials li {
  font-weight: 600;
}
footer li:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 1400px) {
  .ft-main {
    justify-content: space-around;
    padding-bottom: 50px;
  }
  .ft-credentials {
    padding: 0;
  }
  img {
    max-width: 85px;
  }
}
@media (max-width: 900px) {
  nav {
    margin: 0;
  }
  #logo-wrapper {
    margin-left: 0;
  }
  #heading {
    padding: 1.5rem;
  }
}
@media (max-width: 790px) {
  footer {
    flex-direction: column;
    align-items: flex-start;
  }
  .ft-credentials {
    margin: 0;
  }
  .ft-main {
    padding: 0;
  }
  .ft-main-item {
    min-width: 50%;
  }
  .container {
    padding: 0;
  }

  /* MAIN SECTION */
  #how-can-we-help {
    min-width: 100%;
  }
  #help {
    padding: 0 2rem;
  }
  .bx-right-arrow-alt {
    top: -60px;
    left: 45%;
  }
  label {
    font-size: 6.4rem;
  }
  #options {
    flex-direction: column;
    align-items: center;
  }
  .category-list-item:nth-last-of-type(2),
  .category-list-item:nth-last-of-type(4),
  .category-list-item:nth-last-of-type(6) {
    margin-left: 0;
  }
  .category-list-item:nth-last-of-type(1),
  .category-list-item:nth-last-of-type(3),
  .category-list-item:nth-last-of-type(5) {
    margin-right: 0;
  }
  .category-list-item {
    min-width: 80%;
    margin: 0;
  }
  .list-item h2 {
    margin: 4.8rem 0 1.6rem;
    padding: 0;
  }
  .list-img {
    margin-top: 4.8rem;
  }
  /* nav */
  #request {
    max-width: 13rem;
  }
  .input {
    font-size: 1.4rem;
  }
  button {
    min-height: 5.4rem;
  }
  #nav {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 600px) {
  label {
    font-size: 4rem;
  }
}

@media (max-width: 468px) {
  .container {
    padding: 0;
  }
  .category-list-item {
    max-width: 100%;
  }
  #options {
    margin-top: 50px;
  }
  .input {
    margin-right: 0.5rem;
  }
}
